.add-button{
    position: fixed; /*El boton queda "flotante", sobre el contenido*/
    bottom: 30px; /*Separacion desde abajo*/
    right: 40px; /*Separacion desde la derecha*/
    background-color: lightskyblue; /*Color del fondo*/
    color: white; /*Color del icono*/
    border-radius: 50%; /*redondear el boton*/
    border: none; /*eliminamos el borde del fondo*/

    /*Dimensiones para hacer simetrico el boton*/
    width: 70px;
    height: 70px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /*Sombras para el boton*/
    display: flex; /*Activamos flexbox*/
    justify-content: center; /*Alineacion horizontal*/
    align-items: center; /*Alineacion vertical*/

    z-index: 1001; /*Para que el boton siempre quede "encima" del resto de los contenidos*/

    transition: transform 0.4s; /*Duracion del efecto*/
}

.add-button:hover{
    transform: scale(1.2); /*Crecimiento del boton*/
}

.tabla-scroll{
    overflow-x: auto; /*Colocar Scroll de la tabla*/
}
